{{#if isLoggedIn}}
<div class="container">
  <h1>Dashboard</h1>
  <div class="card" style="width: 18rem; justify-content:center">
    <img src="http://vignette3.wikia.nocookie.net/southpark/images/9/9e/Eric_cartman.png/revision/latest?cb=20161207153635" class="card-img-top" alt="everyone get's cartman">
    <div class="card-body">
      <h5 class="card-title"><p>Hello, {{username}} </p></h5>
      <p class="card-text">Here you can view your post history, and also edit your posts</p>
      </p>
        <a href="/newpost">New Blog</a>
    </div>
  </div>

<div class="container">
  <h5>{{username}}'s Posts</h5>
  <ul>
    {{#each posts}}
    <li>{{title}} <a href="/editpost/{{id}}">edit</a></li>
    {{/each}}
  </ul>
</div>
  {{else}}
  <h1>Please <a href="/login">sign in</a> to view your dashboard</h1>
{{/if}}
</div>